*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/81d243bd2c585b0f4821__mypyc.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/_brotli.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/_cffi_backend.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/cryptography/hazmat/bindings/_rust.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/google/_upb/_message.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/media_assets/audio/cantina.wav filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/media_assets/audio/recording1.wav filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/media_assets/audio/sax.wav filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/media_assets/images/groot.jpeg filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/media_assets/images/tower.jpg filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/media_assets/models3d/Duck.glb filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/media_assets/models3d/sofia.stl filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/media_assets/videos/a.mp4 filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/media_assets/videos/b.mp4 filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/media_assets/videos/world.mp4 filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/templates/frontend/assets/PlotlyPlot-CNehIspL.js.map filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/templates/frontend/static/fonts/Source[[:space:]]Sans[[:space:]]Pro/SourceSansPro-Bold.woff2 filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/templates/frontend/static/fonts/Source[[:space:]]Sans[[:space:]]Pro/SourceSansPro-Regular.woff2 filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/templates/node/build/client/_app/immutable/chunks/B471GzP2.js.br filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/templates/node/build/client/_app/immutable/chunks/BHTcqvLN.js.br filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/templates/node/build/client/_app/immutable/chunks/BiMhFwHb.js.br filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/templates/node/build/client/_app/immutable/chunks/BJS-kmMs.js.br filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/templates/node/build/client/_app/immutable/chunks/Bm8DJGmZ.js.br filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/templates/node/build/client/_app/immutable/chunks/BxyAfB-o.js.br filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/templates/node/build/client/_app/immutable/chunks/BZM5Alzc.js.br filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/templates/node/build/client/_app/immutable/chunks/C6jfNy7D.js.br filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/templates/node/build/client/_app/immutable/chunks/Cm6v0diE.js.br filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/templates/node/build/client/_app/immutable/chunks/CPzUdkTP.js.br filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/templates/node/build/client/_app/immutable/chunks/DnRY3xAn.js.br filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/gradio/templates/node/build/client/_app/immutable/chunks/o-Ck1HYF.js.br filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/hf_xet/hf_xet.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/jiter/jiter.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/numpy/_core/_multiarray_umath.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/numpy/_core/_simd.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/numpy/_core/lib/npymath.lib filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/numpy/fft/_pocketfft_umath.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/numpy/linalg/_umath_linalg.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/numpy/random/_bounded_integers.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/numpy/random/_common.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/numpy/random/_generator.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/numpy/random/bit_generator.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/numpy/random/lib/npyrandom.lib filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/numpy/random/mtrand.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/numpy.libs/libscipy_openblas64_-13e2df515630b4a41f92893938845698.dll filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/numpy.libs/msvcp140-263139962577ecda4cd9469ca360a746.dll filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/orjson/orjson.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/ortools/algorithms/python/knapsack_solver.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/ortools/constraint_solver/_pywrapcp.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/ortools/graph/python/linear_sum_assignment.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/ortools/graph/python/max_flow.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/ortools/graph/python/min_cost_flow.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/ortools/init/python/init.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/ortools/linear_solver/_pywraplp.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/ortools/linear_solver/python/model_builder_helper.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/ortools/math_opt/core/python/solver.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/ortools/math_opt/elemental/python/cpp_elemental.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/ortools/math_opt/io/python/mps_converter.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/ortools/pdlp/python/pdlp.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/ortools/sat/python/cp_model_helper.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/ortools/scheduling/python/rcpsp.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/ortools/set_cover/python/set_cover.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/ortools/util/python/pybind_solve_interrupter.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/ortools/util/python/pybind_solve_interrupter_testing.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/ortools/util/python/sorted_interval_list.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/algos.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/groupby.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/hashing.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/hashtable.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/index.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/internals.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/interval.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/join.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/lib.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/missing.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/ops.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/parsers.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/reshape.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/sas.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/sparse.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/tslib.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/tslibs/conversion.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/tslibs/dtypes.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/tslibs/fields.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/tslibs/nattype.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/tslibs/np_datetime.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/tslibs/offsets.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/tslibs/parsing.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/tslibs/period.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/tslibs/strptime.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/tslibs/timedeltas.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/tslibs/timestamps.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/tslibs/timezones.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/tslibs/tzconversion.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/tslibs/vectorized.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/window/aggregations.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/window/indexers.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas/_libs/writers.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pandas.libs/msvcp140-a4c2229bdc2a2a630acdc095b4d86008.dll filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/PIL/_avif.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/PIL/_imaging.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/PIL/_imagingcms.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/PIL/_imagingft.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/PIL/_webp.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pip/_vendor/distlib/t64-arm.exe filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pip/_vendor/distlib/t64.exe filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pip/_vendor/distlib/w64-arm.exe filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pip/_vendor/distlib/w64.exe filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pybind11_abseil/status.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pydantic_core/_pydantic_core.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pythonwin/mfc140u.dll filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pythonwin/scintilla.dll filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pythonwin/win32ui.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/PyWin32.chm filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pywin32_system32/pythoncom310.dll filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/pywin32_system32/pywintypes310.dll filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/rpds/rpds.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/setuptools/cli-arm64.exe filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/setuptools/gui-arm64.exe filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/watchfiles/_rust_notify.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/win32/libs/pywintypes.lib filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/win32/win32api.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/win32/win32crypt.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/win32/win32file.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/win32/win32gui.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/win32/win32security.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/win32com/libs/pythoncom.lib filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/win32comext/axcontrol/axcontrol.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/win32comext/axdebug/axdebug.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/win32comext/mapi/exchange.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/win32comext/mapi/mapi.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/win32comext/propsys/propsys.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/win32comext/shell/shell.pyd filter=lfs diff=lfs merge=lfs -text
venv/Lib/site-packages/yaml/_yaml.cp310-win_amd64.pyd filter=lfs diff=lfs merge=lfs -text
venv/Scripts/pip.exe filter=lfs diff=lfs merge=lfs -text
venv/Scripts/pip3.10.exe filter=lfs diff=lfs merge=lfs -text
venv/Scripts/pip3.exe filter=lfs diff=lfs merge=lfs -text
venv/Scripts/python.exe filter=lfs diff=lfs merge=lfs -text
venv/Scripts/pythonw.exe filter=lfs diff=lfs merge=lfs -text
venv/Scripts/uv.exe filter=lfs diff=lfs merge=lfs -text
venv/Scripts/uvw.exe filter=lfs diff=lfs merge=lfs -text
venv/Scripts/uvx.exe filter=lfs diff=lfs merge=lfs -text
